<div class="add-fin-operation">
    <md-content layout-padding class="add-fin-op-form-wrapper">
        <form name="addForm" novalidate>
            <md-input-container class="md-block" flex-gt-xs>
                <h4>Дата</h4>
                <md-datepicker ng-required ng-model="addFinOpCtrl.model.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
            </md-input-container>
            
            <md-input-container class="md-block dropdown" flex-gt-xs>
                <label>Категория</label>
                <md-select ng-model="addFinOpCtrl.model.categoryId">
                    <md-option ng-value="{{null}}"><em>Без категории</em></md-option>
                    <md-option ng-repeat="category in addFinOpCtrl.categories" ng-value="category.id">
                        {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Сумма</label>
                <input type="number" ng-required ng-model="addFinOpCtrl.model.value" />
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Описание</label>
                <textarea ng-model="addFinOpCtrl.model.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <div class="buttons-wrapper">
                <md-button class="md-raised md-primary" ng-disabled="addForm.$invalid" ng-click="addFinOpCtrl.addFinOperation()">Добавить</md-button>
                <md-button class="md-raised">Отмена</md-button>
            </div>
        </form>
    </md-content>
</div>