<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Добро пожаловать в Money Keeper!</span>
            </h2>

            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" aria-label="MoreVert" ng-click="$mdMenu.open($event)">
                    <md-icon md-menu-origin md-svg-icon="node_modules/material-design-icons/navigation/svg/production/ic_more_vert_24px.svg"></md-icon>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>
                            Профиль
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Something else
                        </md-button>
                    </md-menu-item>

                    <md-menu-divider></md-menu-divider>

                    <md-menu-item>
                        <md-button ng-click="layoutCtrl.logOut()">
                            Выйти
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <ui-view></ui-view>
</div>