<div ng-controller="signUpController as ctrl">
    <section class="box-section auth-section">
        <form name="signUpForm" class="auth-form" novalidate>
            <div class="input-wrapper user-name">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Имя для входа</label>
                    <input type="text" ng-model="ctrl.model.name" required/>
                </md-input-container>
            </div>

            <div class="input-wrapper">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Имя</label>
                    <input type="text" ng-model="ctrl.model.firstName" required/>
                </md-input-container>
            </div>

            <div class="input-wrapper">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Фамилия</label>
                    <input type="text" ng-model="ctrl.model.lastName" required />
                </md-input-container>
            </div>

            <div class="input-wrapper">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Пароль</label>
                    <input type="password" ng-model="ctrl.model.password" required/>
                </md-input-container>
            </div>

            <div class="input-wrapper">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Подтвердите пароль</label>
                    <input type="password" ng-model="ctrl.model.confirmPassword" required />
                </md-input-container>
            </div>

            <md-button class="md-raised" ng-disabled="signUpForm.$invalid" ng-click="ctrl.signUp()">Зарегистрироваться</md-button>
        </form>
    </section>
</div>